# Ignore .next folder
.next

# Ignore node_modules folder
node_modules

# Ignore .env.local
NOTION_TOKEN=secret_I5evm9vSRVGL2jNQidQNM4t9lhzDdBv5wblCXcI2PTw
NOTION_DATABASE_ID=9c005f16321245758ebfcf424ff77f7b